<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="main_nav_wrapper">
      <nav>
        <ul>
          <li class="show-nav"><a href="/recipes/<%= recipe._id %>/edit">Edit Recipe</a></li>
          <li class="show-nav"><form action="/recipes/<%= recipe._id %>?_method=DELETE" class="delete-form" method="POST"><button class="delete-recipe" type="submit">Delete Recipe</button>
          </form></li>
          <li><a href="/recipes/new">Add Recipe</a></li>
          <li><a href="/recipes">Egghead Home</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>