* {
  box-sizing: border-box;
  font-family: 'Pacifico', serif;
  margin: 0;
  padding: 0;
}

.main_nav_wrapper {
  background: white;
  width: 100%;
  max-width: 960px;
  margin: auto;
} 

.delete-recipe {
    background:none;
    border:none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
}

nav li {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #FFB230;
  display: block;
  padding: 10px;
}

nav a:hover {
  color: grey;
}

html, body {
  height: 100%;
  position: relative;
}

main {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

body {
  font-family: 'Pacifico', serif;
  background-image: url('/images/eggbowl.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
}

.cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  box-shadow: 0 0 3px;
}

.card_content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background-color: #fef98c;
}

.card_info {
  padding: 15px;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  border-bottom: 2px solid;
  background: #eeeeee;
}

.card_link {
  text-decoration: none;
}

#new-recipe-form, #edit-recipe-form {
  display: grid;
  grid-template-rows: 7;
  gap: 5px;
  color: #eeeeee;
}

#show-recipe, #show-comments, #new-recipe-form, #edit-recipe-form {
  margin: 15px;
}

input, textarea, select {
  display: flex;
  justify-content: center;
  width: 200px;
  
}

.comment {
  background: white;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
