<%- include('../partials/header') %>

<div class="cards">
    <div class="card">
        <img src="https://i.imgur.com/ADrgRvy.jpg" alt="egg text img" class="card__image" width="300px" height="200px">
        <div class="card_content">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quas. Magni numquam quisquam libero, maiores ea neque ut ab deleniti, eligendi velit et labore, in dolorum modi a ratione consectetur?</p>
        </div>
        <div class="card_info">
            <a href="./" class="card_link">View Recipe</a>
        </div>
    </div>
    <div class="card">
        <img src="https://i.imgur.com/ADrgRvy.jpg" alt="egg text img" class="card__image" width="300px" height="200px">
        <div class="card_content">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quas. Magni numquam quisquam libero, maiores ea neque ut ab deleniti, eligendi velit et labore, in dolorum modi a ratione consectetur?</p>
        </div>
        <div class="card_info">
            <a href="./" class="card_link">View Recipe</a>
        </div>
    </div>
    <div class="card">
        <img src="https://i.imgur.com/ADrgRvy.jpg" alt="egg text img" class="card__image" width="300px" height="200px">
        <div class="card_content">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quas. Magni numquam quisquam libero, maiores ea neque ut ab deleniti, eligendi velit et labore, in dolorum modi a ratione consectetur?</p>
        </div>
        <div class="card_info">
            <a href="./" class="card_link">View Recipe</a>
        </div>
    </div>
    <div class="card">
        <img src="https://i.imgur.com/ADrgRvy.jpg" alt="egg text img" class="card__image" width="300px" height="200px">
        <div class="card_content">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quas. Magni numquam quisquam libero, maiores ea neque ut ab deleniti, eligendi velit et labore, in dolorum modi a ratione consectetur?</p>
        </div>
        <div class="card_info">
            <a href="./" class="card_link">View Recipe</a>
        </div>
    </div>
    <div class="card">
        <img src="https://i.imgur.com/ADrgRvy.jpg" alt="egg text img" class="card__image" width="300px" height="200px">
        <div class="card_content">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quas. Magni numquam quisquam libero, maiores ea neque ut ab deleniti, eligendi velit et labore, in dolorum modi a ratione consectetur?</p>
        </div>
        <div class="card_info">
            <a href="./" class="card_link">View Recipe</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>